h1 {
    font-family: consolas;
    display: block;
    color: #4ecc28;
    font-size: 2em;
    margin-top: 0.60em;
    margin-bottom: 0.60em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

p {
    color: #4ecc28;
}

body{

    text-align: center;
    margin: 0;
    padding: 0; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: hsl(0, 0%, 0%);
    font-family: consolas;
}

a
{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #4ecc28;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.3s;
}

a:hover
{
    color: #000000;
    background: #4ecc28;
    box-shadow: 0 0 10px #4ecc28, 0 0 20px #4ecc28, 0 0 30px #4ecc28;
}
